/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 15%;
    min-width: 225px;
    overflow-y: auto;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin: 5px;
    border: 3px solid lightblue;
    border-radius: 10px;
    
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
    max-height: 84vh;
    background : url(../img/img.jpg);
}
.template_center_text{
    color: darkgoldenrod;
    font-size: 14px;
}
.template_center{
    margin: auto;
    text-align: center;
}
/* Message Styles */
#message-form > textarea {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 94%;
    padding: 5px;
}
 button {
    border-radius: 10px;
    max-height: 40px;
    margin-left: 5px;
}
.message-left {
    /*margin-bottom: 16px; 
    border: solid #777 1px;
    display: table;  
    padding: 5px 15px 5px 15px;*/
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    max-width: 60%;
    display: table;
}

.message-right{
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8e896;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
    max-width: 60%;
    display: table;
}
.message-right > p{
    display: table;
}
.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #999;
    font-size: 12px;
    float: right;
    font-weight: 300;
    bottom: 5px;
}

.message__meta_right {
    color: #999;
    font-size: 12px;
    right: 5px;
    font-weight: 300;
    bottom: 5px;
}

.message_text_right{
    display: table;
    margin-top: 10px;
}
.message_text{
    display: table;
    margin-top: 10px;
}


.message-left a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    padding: 15px;
    border-top: 1px solid gray;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 15px; 
    text-transform: capitalize;  
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

li{
    padding : 5px 15px 5px 15px;
    text-transform: capitalize;  
    border: solid #fff 1px;
    width: 80%;
    margin: auto;
}

/* Scrollbar styles*/
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#777; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#666; 
  }